.hero-section{
    width: 80%;
    margin: 8rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section-txt{
    margin-right: 4rem;
}

.hero-section-txt h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.hero-section-txt div {
    margin-bottom: 1rem;
}

.hero-section-txt div h2{
    font-size: 1.2rem;
}

.hero-section-txt p{
    font-style: italic;
    color: #007078;
}

.cv{
    margin-top: 2rem;
    padding: 0.75rem 1.2rem;
    border: none;
    border-radius: 32px;
    background-color: #ffb819;
    font-size: 1rem;
    font-weight: 600;
}

.socials{
    margin-top: 2rem;
    font-size: 1.75rem;
}

.socials svg{
    margin-right: 0.5rem;
}

.research-icons{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.research-icons svg{
    margin-right: 1rem;
    font-size: 1.75rem;
    color: #007078;
}

.research-section {
    width: 85%;
    margin: 4rem auto;
}

.research-head {
    font-size: 2.5rem;
    font-weight: 500;
}

.research-content-1{
    margin: 1rem 0;
    display: flex;
}

.research-content-1 .txt{
    width: 60%;
    margin-right: 5rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 2rem;
    color: #007078;
}

.research-interest h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.research-list{
    margin-left: 1rem;
}

.research-list li{
    margin-bottom: 0.5rem;
    color: #007078;
}

.research-content-2{
    margin: 5rem 0;
}

.research-content-2 h2{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.research-content-2 svg{
    margin-right: 1rem;
    font-size: 1.75rem;
    color: #007078;
}

.content-right{
    margin: 3rem 2rem;
}

.teaching-section{
    margin: 5rem 0;
}

.teaching-img-cont{
    width: 8rem;
    height: 30rem;
    background-color: #007078;
}

.img-teach{
    position: absolute;
    top: 15rem;
    left: 8rem;
}

.teaching-hero{
    display: flex;
}

.teaching-txt{
    width: 40%;
    margin-left: 30rem;
}

.teaching-txt h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.teaching-txt p{
    color: #007078;
    line-height: 2rem;
}

.teaching-topics{
    width: 68%;
    margin: 8rem auto;
}

.teaching-topics h2{
    font-weight: 700;
}

.teaching-subjects{
    display: flex;
    margin-bottom: 5rem;
}

.teaching-subjects ul{
    margin-top: 2rem;
    margin-left: 5rem;
    color: #007078;
}

.teaching-subjects ul li{
    margin-top: 1rem;
}

.repo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0 0 2rem;
}

.repo-indi{
    background-color: #f2f3f7;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
}

.professional-section {
    width: 80%;
    margin: 5rem auto;
}

.professional-section h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.list-component {
    border-left: 1px solid #007078;
    list-style: none;
    margin-left: 10px;
    padding-top: 20px
  }
   /* https://www.computerhope.com/issues/ch001705.htm */
  .list-component .__item {
    background: url(https://www.computerhope.com/issues/pictures/bullet.gif) no-repeat top left;
    background-position: top left;
    padding: 0 0 4px 60px;
    margin-left: 1rem;
    position: relative;
    right: 28px;
    margin-bottom: 10px;
    top: 10px;
  }
  
  .card-component {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    width: 550px;
    height: 150px;
    font-family: Arial;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .card-component .__year {} */
  
  .card-component .__title {
    font-size: 1rem;
  }
  
  .card-component .__text {
    color: #007078;
  }

  .cont{
    display: flex;
    margin: 0 2rem;
  }

  .cont .text p{
    width: 35rem;
    margin-right: 4rem;
    color: #007078;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .organized{
    margin: 5rem 0;
  }

  .organized h2{
    margin-bottom: 1rem;
  }

  .organized h3{
    margin: 2rem 0 1rem 1rem;
    color: #007078;
  }

  .organized ul{
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .organized ul li{
    margin-bottom: 1rem;
  }

  .achievements-section {
    width: 80%;
    margin: 5rem auto;
}

.achievements-section h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.awards_achievements {
    margin: 8rem 0;
  }
  
  .awards_head::after {
    content: "";
    display: block;
    position: relative;
    width: 18rem;
    height: 0.06rem;
    background-color: #5a5a5c;
    top: -2rem;
    margin-left: 41rem;
  }
  
  .awards_achievements ul {
    margin: 0 8rem;
    list-style-type: none;
  }
  
  .awards_achievements ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .awards_achievements ul li p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .awards_achievements ul li .a_year,
  .awards_achievements ul li .a_body {
    color: #007078;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

.aca_year{
    margin-left: 1rem;
}

.academics-section {
    width: 80%;
    margin: 5rem auto;
}

.academics-section h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}