.navbar{
    background-color: #007078;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: #fff;
    font-family: sans-serif;
}

.title{
    font-size: 2rem;
    font-weight: 500;
}

.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li{
    margin-right: 4rem;
    font-size: 1.2rem;
}