.hero-section{
    width: 80%;
    margin: 8rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section-txt{
    margin-right: 4rem;
}

.hero-section-txt h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.hero-section-txt div {
    margin-bottom: 1rem;
}

.hero-section-txt div h2{
    font-size: 1.2rem;
}

.hero-section-txt p{
    font-style: italic;
    color: #007078;
}

.cv{
    margin-top: 2rem;
    padding: 0.75rem 1.2rem;
    border: none;
    border-radius: 32px;
    background-color: #ffb819;
    font-size: 1rem;
    font-weight: 600;
}

.socials{
    margin-top: 2rem;
    font-size: 1.75rem;
}

.socials svg{
    margin-right: 0.5rem;
}

.research-icons{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.research-icons svg{
    margin-right: 1rem;
    font-size: 1.75rem;
    color: #007078;
}