.professional-section {
    width: 80%;
    margin: 5rem auto;
}

.professional-section h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.list-component {
    border-left: 1px solid #007078;
    list-style: none;
    margin-left: 10px;
    padding-top: 20px
  }
   /* https://www.computerhope.com/issues/ch001705.htm */
  .list-component .__item {
    background: url(https://www.computerhope.com/issues/pictures/bullet.gif) no-repeat top left;
    background-position: top left;
    padding: 0 0 4px 60px;
    margin-left: 1rem;
    position: relative;
    right: 28px;
    margin-bottom: 10px;
    top: 10px;
  }
  
  .card-component {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    width: 550px;
    height: 150px;
    font-family: Arial;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .card-component .__year {} */
  
  .card-component .__title {
    font-size: 1rem;
  }
  
  .card-component .__text {
    color: #007078;
  }

  .cont{
    display: flex;
    margin: 0 2rem;
  }

  .cont .text p{
    width: 35rem;
    margin-right: 4rem;
    color: #007078;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .organized{
    margin: 5rem 0;
  }

  .organized h2{
    margin-bottom: 1rem;
  }

  .organized h3{
    margin: 2rem 0 1rem 1rem;
    color: #007078;
  }

  .organized ul{
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .organized ul li{
    margin-bottom: 1rem;
  }